
@font-face {
    font-family: Cloud;
    src: url("DownCloud-lgO5d.otf");
}

body {
    background-image: url("weather/64x64/day/rainy_weather.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}

.general {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 50px;
    color: white;
    font-size: 50px;
    font-family: Cloud;
}

.search {
    display: block;
    padding-left: 3%;
}

.country { grid-area: c1;}
.temp { grid-area: c2;}
.ws { grid-area: c3;}
.hmdt { grid-area: c4;}
.ftemp { grid-area: c5;}
.condition { grid-area: c6;}

.content {
    display: grid;
    padding:2em;
    grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
    column-gap: 1em;
    row-gap: 1em;
    flex-grow: 1;
    align-items: center;
    justify-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 2s opacity;
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.5);
    padding: 1em;
    width: 17em;
    height: 8em;
    background-color: #196ca2;
    border-radius: 25px;
    color: rgb(236, 236, 236);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card .title {
    align-self: flex-start;
}

.card .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    z-index: 6;
    background-color: #ff9912;
    padding: 10px;
}

.footer a {
    color: #420057;
}