
@font-face {
    font-family: Cloud;
    src: url("DownCloud-lgO5d.otf");
}

body {
    background-image: url("weather/64x64/day/rainy_weather.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}

.general {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: start;
    padding-top: 20px;
    padding-left: 50px;
    color: white;
    font-size: 50px;
    font-family: Cloud;
}

.search {
    display: block;
    padding-left: 3%;
}

/*Make multiple cards to display each information separetedly, each must have the same size and spacing.
  They all must be in the same row for better visualization, for now mobile won't be supported/taken into consideration.*/
.content {
    display: flex;
    flex: 1;
    padding: 20px 50px 0px 50px;
}

.card {
    box-shadow: 1em 1em 3em black;
    padding: 1em;
    display: flex;
    width: 7em;
    height: 8em;
    background-color: #196ca2;
    border-radius: 25px;
    justify-content: space-around;
    color: rgb(236, 236, 236);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}

.card + .card {
    margin: 0em 0em 0em 1em;
}

.footer {
    background-color: #ff9912;
    padding: 10px;
}

.footer a {
    color: #0000c4;
}